@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --azul: #016180;
    --celeste: #4A8CB0;
    --crema: #F8EDE5;
    --cafe: #a88474;
    --marron: #4C2C17;
}
body, html {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.container-fluid {
    display: flex;
    height: 100vh; 
    width: 100%;
}
.left-side, .right-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.left-side {
    background-color: var(--celeste);
    background-size: cover;
    color: black;
}
.left-side img {
    max-width: 400px; 
    margin-bottom: 20px; 
}
.left-side label{
    color: var(--crema);
    font-size: 80px;
}
.right-side {
    background-color: var(--marron); 
    color: rgb(255, 255, 255);
}
.form-container {
    max-width: 400px;
    width: 100%;
    background-color: var(--cafe);
    border-radius: 8px;
    padding: 20px;
}
.btn {
    background-color: var(--azul);
    color: var(--crema);
    font-size: 20px;

}
.btn:hover {
    background-color: var(--celeste);
    transform: scale(1.05);
}
a {
    color: black;
}
a:hover {
    color: #333;
}
