@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    --azul: #016180;
    --celeste: #4A8CB0;
    --crema: #F8EDE5;
    --cafe: #a88474;
    --marron: #4C2C17;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: 'Outfit', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: var(--marron);
}
.barra{
    position: fixed;
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--celeste);
    transition: width 0.5s ease;
}
.lateral{
    width: 80px;
}
.barra span{
    width: 100px;
    white-space: nowrap;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
}
.barra span.oculto{
    opacity: 0;
    width: 0;
}

/*---------------NOMBRE DE LA PAGINA-----------------------------*/

.barra .nombre-pagina{
    width: 100%;
    height: 45px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.barra #book{
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
}
.barra #book:hover{
    transform: scale(1.1);
}
.barra .nombre-pagina span{
    margin-left: 5px;
    font-size: 25px;
    color: var(--crema);
}
/*--------------BOTON AGREGAR CHAT------------------------------*/

.barra .nuevo-chat{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color:black;
    color: var(--crema);
}
.barra .nuevo-chat .material-symbols-outlined{
    min-width: 50px;
    font-size: 25px;
}
.barra .nuevo-chat:hover{
    background-color: #361f10;
    transform: scale(1.1);
}


/*--------------MENU NAVEGACION------------------------------*/
.navegacion{
    margin-top: 40px;
}
.barra .navegacion li{
    list-style: none;
    display: flex;
    margin-bottom: 20px;
}
.barra .navegacion a{
    border: px solid var(--celeste);
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--crema);
}
.barra .navegacion a:hover{
    background-color: var(--azul);
    transform: scale(1.1);
}
.barra .navegacion svg{
    min-width: 50px;
    font-size: 20px;
}
/*--------------linea------------------------------*/
.barra .linea{
    width: 100%;
    height: 1px;
    background-color: var(--azul);
}
/*--------------USuARIO------------------------------*/
.barra .usuario{
    width: 100%;
    display: flex;
}
.barra .usuario img{
    width: 50px;
    min-width: 50px;
    border-radius: 10px;
}
.barra .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--crema);
    overflow: hidden;
}
.barra .usuario .nombre-correo{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.barra .usuario .nombre{
    font-size: 15px;
    font-weight: 600;
}
.barra .usuario .correo{
    font-size: 13px;
}
.barra .usuario svg{
    min-width: 50px;
    font-size: 20px;
    cursor: pointer;
}
.barra .usuario svg:hover{
    transform: scale(1.5);
}
main{
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.5s ease;
}
.grande{
    margin-left: 80px;
}