@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    --azul: #016180;
    --celeste: #4A8CB0;
    --crema: #F8EDE5;
    --cafe: #a88474;
    --marron: #4C2C17;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: 'Outfit', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: var(--marron);
}
.barra{
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--azul);
    transition: width 0.5s ease;
}
.mini-lateral{
    width: 80px;
}
.barra span{
    width: 100px;
    white-space: nowrap;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
}
.barra span.oculto{
    opacity: 0;
    width: 0;
}

/*---------------NOMBRE DE LA PAGINA-----------------------------*/

.barra .nombre-pagina{
    width: 100%;
    height: 45px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.barra img{
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
}
.barra .nombre-pagina span{
    margin-left: 5px;
    font-size: 25px;
    color: var(--crema);
}
/*--------------BOTON AGREGAR CHAT------------------------------*/

.barra .nuevo-chat{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--marron);
    color: var(--crema);
}
.barra .nuevo-chat .material-symbols-outlined{
    min-width: 50px;
    font-size: 25px;
}

/*--------------MENU NAVEGACION------------------------------*/
.barra .navegacion li{

}